@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Shadows+Into+Light&display=swap");
.header-text {
  text-align: center;
  padding-top: 1.5rem;
  font-family: "Open Sans Condensed", sans-serif;
}
.main-content {
  width: 100%;
  height: 100vh;
  background-color: #66d9ff;

  /* font-family: "Open Sans Condensed", sans-serif; */
}
.content {
  margin: auto;
  width: 50%;
  background-color: #2682d9;
  text-align: center;
  padding-top: 2rem;
  margin-top: 9rem;
  font-size: 1.2rem;
  color: white;
  font-family: "Satisfy", cursive;
  border-radius: 1rem;
  box-shadow: rgba(194, 194, 163, 0.1);
}
.button-clicker {
  margin-bottom: 1rem;
  color: #2682d9;
  background-color: white;
  border-radius: 1rem;
  padding: 0.5rem;
}
.button-clicker:focus {
  outline: none;
  box-shadow: none;
}
.content-title {
  padding-bottom: 1rem;
  font-family: "Shadows Into Light", cursive;
}
.content-name,
.content-task {
  font-weight: bold;
}

.content-punishment {
  font-family: "Satisfy", cursive;
  font-size: 0.82rem;
}
